SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXTAUTH_SECRET=          # Generate: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
ADMIN_USERNAME=yungdev
ADMIN_PASSWORD=           # Will be bcrypt-hashed before storing
