TELEGRAM_BOT_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
HELIUS_API_KEY=

DEXSCREENER_BASE_URL=https://api.dexscreener.com
PUMPFUN_FRONTEND_API=https://frontend-api.pump.fun
DEV_DONATION_WALLET=6uz2L1XGVArpADTdC3P1DX7S9BrxfPtKYgHkcBJQs23v
DEFAULT_STARTING_BALANCE_SOL=5
FIXED_GAS_FEE_SOL=0.0001
MAX_OPEN_POSITIONS=4
